Source: ros-melodic-hpp-fcl
Section: misc
Priority: optional
Maintainer: Joseph Mirabel <jmirabel@laas.fr>
Build-Depends: debhelper (>= 9.0.0), cmake, doxygen, git, libassimp-dev, libboost-all-dev, libeigen3-dev, python-dev, python-lxml, python-numpy, ros-melodic-eigenpy, ros-melodic-octomap
Homepage: https://github.com/humanoid-path-planner/hpp-fcl
Standards-Version: 3.9.2

Package: ros-melodic-hpp-fcl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libassimp-dev, libboost-all-dev, libeigen3-dev, python-dev, python-numpy, ros-melodic-catkin, ros-melodic-eigenpy, ros-melodic-octomap
Description: An extension of the Flexible Collision Library.
